@import url(font.css)  ;
@import url(reset.css) ;

body, html { height: 100%; }
body   { background: #666; }

.warp { 
	width: 320px; height: 480px; 
	position: relative; margin: 0 auto; background: #fff; 
	overflow: hidden;
	}
header, section, footer { width: 100%; }

/* HEADER */
header {
	height: 20px; background: rgba(0,0,0,.3);
	}

/* SECTION */
section	{
	height: 420px; background: rgba(0,0,0,.5);
	}

/* FOOTER */
footer {
	height: 40px; background: rgba(0,0,0,.3);
	}


/* MEDIA */
@media (max-width: 600px) {
	.banana { width: 300px; height: 400px; }
}

/* MY PART */

.btn {
    /*width:50px;
    height:50px;
    margin: 20px 20px;

    display:inline-block;

    border-radius: 50%;*/
    border:none;

    background: #bada55;

    font-size: 10pt;
}


/* PAGES */

.page {
    position: absolute;
    background: #B6B6B6;

    z-index: 10;
}

	.page__profile {
    left: 320px;
    transition: left 250ms ease-out;
}

		.displayed {
	        left: 0;
	        z-index: 20;

	        transform: scale(1);
	        transition: left 250ms ease-out 100ms,
	                    transform 200ms ease-out 250ms;
	    }

	    /* PROFILE CONTENT */

			.profile__infos {
			  position: relative;
			  width: 320px;
			  height: 270px;
			  background: #FF9800;
			}

			.profile__infos__name {
				text-align: center;
			}

			.profile__infos__points {
			    position: absolute;
			    bottom: 5px;
			    left: 5px;

			    margin:0;
			}

			.profile__infos__level {
				position: absolute;
				right: 5px;
				bottom: 5px;

				margin:0;
			}

			.profile__iconBox {
			  width: 320px;
			  height: 160px;
			  background: #FFE0B2;
			}

			.profile__icon {
			  display: inline-block;
			  margin-top: 16.6px;
			  margin-left: 38.75px;
			  width: 55px;
			  height: 55px;
			  border-radius: 50%;
			  background: #448AFF;
			}

/* LOGIN */

.login {
	width: 320px;
    height: 480px;
    position: absolute;
    background: #999999;

    z-index: 30;

    left: 320px;
    transition: left 250ms ease-out, 
                transform 200ms ease-out;
}

	.active {
    left: 0;
    
    transition: left 250ms ease-out;
    }

    .hidden {
   	    left: 320px;

        transform: scale(.9);
        transition: transform 200ms ease-out,
                    left 250ms ease-out 200ms;
    }

	/* LOGIN CONTENT */

	fieldset {
		border: none;
		margin-top: 50px;
		padding: 0;
	}

	label {
	    display: block;
	    margin: 0 0 0 60px; 
	}

	input {
	    display: block;
	    width: 200px;
	    border: 1px solid #000;
	    margin: 0 auto 15px auto;
	}

	.btn__login {
		display: block;
		margin: 20px auto;
	}

	.noAccount {
	    display: block;
	    text-align: center;
	}

	.alreadyAccount {
		display: block;
	    text-align: center;
	}

		.hide {
	    	display: none !important;
		}