@import url(font.css)  ;
@import url(reset.css) ;

body, html { height: 100%; }
body   { background: #666; }

.warp { 
	width: 320px; height: 480px; 
	position: relative; margin: 0 auto; background: #fff; 
	overflow: hidden;
	font-family: sans-serif;
	}
header, section, footer { width: 100%; }

/* HEADER */
header {
	height: 20px; background: #1976D2;
	}

/* SECTION */
section	{
	height: 420px; background: #2196F3;
	color: white;
	-webkit-transition: all .3s ease-out;
	}

	/* Défi du jour */

		.defi_du_jour_accueil

		.defi_du_jour{
			position: relative;
			padding: 20px; 
			height: 340px;
		}

		.texte_defi_du_jour{
			position: relative;
			text-align: center;
			margin: 0 auto;
		}

		.defi_du_jour-titre{	
			font-size: 20pt;
			text-transform: uppercase;
		}

		.description_defi_du_jour{
			font-size: 16pt;
			position: absolute;
			top: 80px;
			background: #21AFFF;
			border-radius: 5%;
			padding: 10px;
		}

		.defi_du_jour-bouton{
			/*text-indent: -99999px;*/

			color: white;
			font-size: 30pt;

			display: block;
			width: 70px;
			height: 70px;
			border-radius: 100%;

			margin-left: 47px;
			position: absolute;
			bottom: 10px;

			background: #FF5722;
		}


		.refuser_defi_jour{
			right: 67px;
		}

		.defis_amis{
			padding: 10px;
			text-align: center;
			border-top: 1px solid white;
		}

		.defis_amis-bouton{
			text-indent: -99999px;

			display: block;
			width: 70px;
			height: 35px;
			border-radius: 10%;
			margin: 0 auto 10px auto;

			background: #FF5722;
		}

	/* Photos défi du jour */

		.photos_defi_du_jour{
			overflow-y: scroll;
			overflow-x: hidden;

			-webkit-transition: all .5s ease-out;
			-webkit-transform: translateY(100%);
		}

		.photos_defi_du_jour_rempli{
			width: 160px;
			height: 160px;
			float: left;
		}

		.photo_defi_du_jour_ajouter{
			text-indent: -99999px;
			width: 160px;
			height: 160px;
			background: #FF5722;
		}

	/* Button Action */

		.photos_defi_du_jour.photos--open{
			-webkit-transform: translateY(-100%);
		}

		.defi_du_jour_accueil.photos--open{
			-webkit-transform: scale(.1);
		}

/* FOOTER */
footer {
	height: 40px; background: white;
	}


/* MEDIA */
@media (max-width: 600px) {
	.banana { width: 300px; height: 400px; }
}

